.container {
    position: relative;
    text-align: center;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  p.a {
    font: 15px Arial, sans-serif;
    border-radius: 25px;
    border-style:dotted;
    float: left;
  }
  
  p.b {
    font: italic small-caps bold 12px/30px Georgia, serif; border: 1px solid rgb(169, 20, 180);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }

  